<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.management.common.CommonDAO">
    	<resultMap type="MemberDTO" id="userInfo">
    		<result column="id" property="id"/>
    		<result column="pw" property="pw"/>
    		<result column="name" property="name"/>
    		<result column="authority" property="authority"/>
    		<association property="deptDto" javaType="DeptDTO">
    			<result column="dept_name" property="dept_name"/>
    		</association>
    		<association property="rankDto" javaType="RankDTO">
				<result column="rank_name" property="rank_name"/>    		
    		</association>
    	</resultMap>
    	
    	<select id="userInfo" parameterType = "MemberDTO" resultMap = "userInfo">
    		SELECT
    			member.id, member.name, rank.rank_name, dept.dept_name
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept_no = dept.dept_no
    		JOIN
    			rank
    		ON
    			member.rank_no = rank.rank_no
    		WHERE 
    			member.id = #{id}
    	</select>
    	
    	<select id="signProcessCount" parameterType="MemberDTO" resultType="int">
    		SELECT
    			COUNT(*)
    		FROM
    			sign
    		WHERE
    			id = #{id}
    	</select>
    	
    	<!-- sign_path에는 sign_name이 없음 -->
    	<select id="signStayCount" parameterType="map" resultType="int">
    		SELECT
    			COUNT(*)
    		FROM
    			sign
    		JOIN
    			sign_path
    		ON
    			sign.sign_no = sign_path.sign_no
    		WHERE
    			sign_path.name = #{name}
    		AND
    			sign_path.dept_name = #{dept_name}
    		AND
    			sign_path.rank_name = #{rank_name}
    			sign_path.state_no = "0"
    	</select>
    	
    	<select id="signFinishCount" parameterType="map" resultType="int">
    		SELECT
    			COUNT(*)
    		FROM
    			sign
    		WHERE
    			id = #{id}
    		AND
    			state_no = "1"
    	</select>
    	
    	<select id="checkUser" parameterType="map" resultType="int">
    		SELECT
    			COUNT(*)
    		FROM
    			sign_path
    		WHERE
    			name = #{name}
    		
    	</select>
    	
    	<select id="checkUser2" parameterType="map" resultType="int">
    		SELECT
    			COUNT(*)
    		FROM
    			sign
    		WHERE
    			id = #{id}
    	</select>
    </mapper>