<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.management.manage.ManageDAO">
    	<update id="joinOK" parameterType = "ManageDTO">
    		UPDATE
    			member
    		SET
    			authority = "ROLE_USER"
    		WHERE
    			num = #{num}
    	</update>
    	
    	<update id="joinNO" parameterType = "ManageDTO">
    		DELETE FROM
    			member
    		WHERE
    			num = #{num}
    	</update>
    </mapper>