<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.groupware.manage.ManageDAO">
    	<resultMap type="MemberDTO" id="memberInfo">
    		<result column="id" property="id"/>
    		<result column="name" property="name"/>
    		<association property="deptDto" javaType="DeptDTO">
    			<result column="dept_no" property="dept_no"/>
    			<result column="dept_name" property="dept_name"/>
    		</association>
    		<association property="rankDto" javaType="RankDTO">
    			<result column="rank_no" property="rank_no"/>
    			<result column="rank_name" property="rank_name"/>
    		</association>
    	</resultMap>
    	
    	<select id="memberInfo" resultMap="memberInfo">
    		SELECT
    			member.id, member.name, dept.*, rank.*
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept_no = dept.dept_no
    		JOIN
    			rank
    		ON
    			member.rank_no = rank.rank_no
    		WHERE
    			authority = 'anonymous'
    	</select>
    	
    	<update id="joinOK" parameterType = "MemberDTO">
    		UPDATE
    			member
    		SET
    			authority = "ROLE_USER"
    		WHERE
    			id = #{id}
    	</update>
    	
    	<update id="joinNO" parameterType = "MemberDTO">
    		DELETE FROM
    			member
    		WHERE
    			id = #{id}
    	</update>
    </mapper>