<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.groupware.sign.SignDAO">
		<resultMap type="MemberDTO" id="MemberInfo">
			<result column="name" property="name"/>
			<result column="rank_no" property="rank_no"/>
			<result column="dept_no" property="dept_no"/>
			<association property="rankDto" javaType="RankDTO">
				<result column="rank_no" property="rank_no"/>
				<result column="rank_name" property="rank_name"/>
			</association>
			<association property="deptDto" javaType="DeptDTO">
				<result column="dept_name" property="dept_name"/>
			</association>
		</resultMap>
		
		<resultMap type="SignDTO" id="SignList">
			<result column="sign_no" property="sign_no"/>
			<result column="title" property="title"/>
			<result column="content" property="content"/>
			<result column="date" property="date"/>
			<association property="stateDto" javaType="StateDTO">
				<result column="state_name" property="state_name"/>
			</association>
		</resultMap>
		
		<resultMap type="SignPathDTO" id="SignPathList">
			<result column="sign_no" property="sign_no"/>
			<result column="name" property="name"/>
			<result column="date" property="date"/>
			<association property="stateDto" javaType="StateDTO">
				<result column="state_name" property="state_name"/>
			</association>
			<association property="rankDto" javaType="RankDTO">
				<result column="rank_name" property="rank_name"/>
			</association>
			<association property="deptDto" javaType="DeptDTO">
				<result column="dept_name" property="dept_name"/>
			</association>
		</resultMap>

    	<select id="selectDeptShowMember" parameterType = "DeptDTO" resultMap = "MemberInfo">
    		SELECT
    			member.name, member.rank_no, rank.rank_name
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept_no = dept.dept_no
    		JOIN
    			rank
    		ON
    			member.rank_no = rank.rank_no
    		WHERE 
    			dept.dept_no = #{dept_no}
    		ORDER BY
    			member.rank_no
			ASC
    	</select>
    	
    	<select id="selectSignUser" parameterType="MemberDTO" resultMap="MemberInfo">
	   		SELECT
    			member.name, member.rank_no, member.dept_no, rank.rank_name, dept.dept_name
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept_no = dept.dept_no
    		JOIN
    			rank
    		ON
    			member.rank_no = rank.rank_no
    		WHERE 
    			member.dept_no = #{dept_no} 
    		AND
    			member.rank_no = #{rank_no} 
    		AND 
    			member.name = #{name}
    		ORDER BY
    			member.rank_no
			ASC
    	</select>
    	
    	<select id="userInfo" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			member.name, rank.rankname, dept.deptname
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept = dept.deptno
    		JOIN
    			rank
    		ON
    			member.rank = rank.rankno
    		WHERE 
    			member.id = #{id}
    	</select>
    	
    	<insert id="insertSign" parameterType = "SignDTO">
    		INSERT INTO
    			sign(title,content,date,state_no,id)
    		VALUES
    			(#{title},#{content},SYSDATE(),1,#{id})
    		<selectKey keyProperty = "sign_no" resultType = "int" order="AFTER">
    			 SELECT LAST_INSERT_ID()
    		</selectKey>
    	</insert>
    	
    	<select id="selectNum" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			num
    		FROM
    			sign
    		WHERE
    			num = #{num}
    	</select> 
    	
    	<insert id="insertSignPath" parameterType = "SignPathDTO">
    		INSERT INTO
    			sign_path(sign_no,name,date,state_no,rank_no,dept_no)
    		VALUES
    			(#{sign_no},#{name},SYSDATE(),1,#{rank_no},#{dept_no})
    	</insert>
    	
    	<select id="signProcessList" parameterType = "string" resultMap = "SignList">
    		SELECT
    			sign.*, state.state_name
    		FROM
    			sign
    		JOIN
    			state
    		ON
    			sign.state_no = state.state_no
    		WHERE
    			id = #{id}
    		AND
    			sign.state_no = 1;
    	</select> 

    	<select id="signStayList" parameterType = "string" resultMap = "SignList">
    		SELECT
    			sign.*, state.state_name
    		FROM
    			sign
    		JOIN
    			state
    		ON
    			sign.state_no = state.state_no
    		WHERE
    			id = #{id}
    		AND
    			sign.state_no = 1;
    	</select>
    	
    	<select id="signFinishList" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			*
    		FROM
    			sign
    		WHERE
    			id = #{id}
    		AND
    			signCheck = "2"
    	</select>
    	
    	<select id="selectSignDoc" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			*		
    		FROM
    			sign
    		WHERE
    			sign_no = ${sign_no}
    	</select>
    	
    	<select id="selectSignPath" parameterType = "SignDTO" resultMap="SignPathList">
    		SELECT
    			sign_path.name,sign.date,state.state_name,rank.rank_name,dept.dept_name
    		FROM
    			sign_path
    		JOIN
    			state
    		ON
    			sign_path.state_no = state.state_no
    		JOIN
    			rank
    		ON
    			sign_path.rank_no = rank.rank_no	
    		JOIN
    			dept
    		ON
    			sign_path.dept_no = dept.dept_no
    		WHERE
    			sign_no = #{sign_no}
    	</select>
    	
    	<update id="signOK" parameterType = "SignDTO">
    		UPDATE
    			signPath
    		SET
    			sign = "1", signDate = #{signDate}
    		WHERE 
    			num = #{num}
    		AND
    			signName = #{signName}
    		AND
    			signDept = #{signDept}
    		AND
    			signRank = #{signRank}
    	</update>
    	
    	<select id="signCount" parameterType = "SignDTO" resultType = "int">
    		SELECT
    			COUNT(*)
    		FROM
    			signPath
    		WHERE
    			num = #{num}
    	</select>
    	
    	<update id="signFinish" parameterType = "SignDTO">
    		UPDATE
    			sign
    		SET
    			signCheck = "1"
   			WHERE
   				num = #{num}
    	</update>
    

    </mapper>