<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.management.dao.SignDAO">
    	<select id="selectDeptShowMember" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			member.num, member.name, rank.rankname
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept = dept.deptno
    		JOIN
    			rank
    		ON
    			member.rank = rank.rankno
    		WHERE 
    			member.dept = #{dept}
    		ORDER BY
    			member.num
    		DESC
    	</select>
    </mapper>