<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "com.management.sign.SignDAO">
    	<select id="selectDeptShowMember" parameterType = "SignDTO" resultType = "SignDTO">
    		SELECT
    			member.num, member.name, member.rank, rank.rankname
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept = dept.deptno
    		JOIN
    			rank
    		ON
    			member.rank = rank.rankno
    		WHERE 
    			member.dept = #{dept}
    		ORDER BY
    			member.rank
			ASC
    	</select>
    	
    	<select id="selectSignUser" parameterType="SignDTO" resultType="SignDTO">
	   		SELECT
    			member.name, member.rank, member.dept, rank.rankname, dept.deptname
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept = dept.deptno
    		JOIN
    			rank
    		ON
    			member.rank = rank.rankno
    		WHERE 
    			member.dept = #{dept} 
    		AND
    			member.rank = #{rank} 
    		AND 
    			member.name = #{name}
    		ORDER BY
    			member.rank
			ASC
    	</select>
    	
    	<select id="userInfo" parameterType = "String" resultType = "SignDTO">
    		SELECT
    			member.name, rank.rankname, dept.deptname
    		FROM
    			member
    		JOIN
    			dept
    		ON
    			member.dept = dept.deptno
    		JOIN
    			rank
    		ON
    			member.rank = rank.rankno
    		WHERE 
    			member.id = #{id}
    	</select>
    </mapper>